
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <style>
    	.demo {
    		border:1px solid #C0C0C0;
    		border-collapse:collapse;
    		padding:5px;
    	}
    	.demo th {
    		border:1px solid #C0C0C0;
    		padding:5px;
    		background:#F0F0F0;
    	}
    	.demo td {
    		border:1px solid #C0C0C0;
    		padding:5px;
    	}
    </style>
<table class="demo">
	<caption>KOTH Scoreboard</caption>
	<thead>
	<tr>
		{% for header in headings %}
    <th>{{header}}</th>
    {% endfor %}
	</tr>
	</thead>
	<tbody>
		{% for row in data %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
	</tr>
  {% endfor %}
	<tbody>
</table>
</body>
</html>
